.container {
  flex: 1;
}

.contentContainer {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap into multiple rows */
  justify-content: space-around; /* Align items with some space in between */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  padding: 16px;
  background-color: white;
  justify-content: space-between;
}

.item {
  background-color: #a1a1a1;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.item img {
  width: 100%;
  height: auto;
}

.itemText {
  color: #fff;
}


.coverArt {
  height: auto; /* Adjust height of coverArt */
}

.paginationContainer {
  flex-direction: row;
  justify-content: center;
  margin-top: 16px;
}

.activePaginationButton {
  background-color: gray;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.activePaginationButtonText {
  color: white;
  font-weight: bold;
}

.paginationButton {
  padding: 8px 16px;
}

.paginationButtonText {
  font-size: 16px;
}

.ellipsis {
  align-self: flex-end;
}
