.suggestions {
    position: absolute;
    width: calc(100% - 20px); /* Adjust the width as needed */
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 200px; /* Set a max height for scrolling if needed */
    overflow-y: auto;
    z-index: 1;
    margin-top: 5px; /* Adjust the margin as needed to create a gap between the input and the suggestions */
  }
  
  .suggestion-item {
    padding: 10px;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: black;
    word-wrap: break-word;
  }
  
  .suggestion-item:hover {
    background-color: #f0f0f0;
  }
  